<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs artists</title>
</head>
<body>
<table>
    <h1> Table of Artists</h1>>
    <tr>
        <th>ID</th>>
        <th>Name</th>>
        <th>LastName</th>>
        <th>Nick</th>>
        <th>Actions</th>>
    </tr>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.getId()}">123</td>>
        <td th:text="${artist.getFirstName()}">123</td>>
        <td th:text="${artist.getLastName()}">123</td>>
        <td th:text="${artist.getNick()}">123</td>>
        <td>
            <a href="#" th:href="@{'/artist/new'}" role="button" class="btn btn-success">Add</a>
        </td>>
    </tr>>
</table>>
</body>
</html>